.full-Body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3f0e40;
}

.sidebar_panel {
  height: 100vh;
  width: 5%;
  background-color: #2c0735;
  border-right: .5px solid hsla(0, 0%, 50%, 0.3);
}

.Sidebar_panel_top {
  height: 70%;
  background-color: transparent;
  width: 100%;
}

.Sidebar_list {
  height: 30%;
  width: 100%;

}
.sidebar_paneltopcenter{
  color: white;
  background-color: transparent;
  margin: auto;
  padding: 0.5rem;
  height: fit-content;
  position: relative;
  top: 40%;
 
}
.sidebar-list{
  background-color: transparent;
  margin: 2rem 0;
  text-align: center;
  cursor: pointer;
  padding: .4rem;
  border-radius: .5rem;
}
.sidebar-list:hover
{
  background-color: #3f0e40;

}
.logout-button{
  background-color: transparent;
 padding: .4rem 0;
 color: white;
}
.logout-button>button{
  background-color: transparent;
}
.server-list {
  background-color: #2c0735;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: fit-content;
  margin: .5rem 0;
  -webkit-box-flex: 0.05;
  overflow: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  width: 100%;
  height: 30vh;
  max-height: 30vh;
  padding: 0 0rem;
}
.serverList_flexBox{
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem .5rem;
}
.serverList_flex{
  display: flex;
  flex-direction: row;
  width: 100%; /* Adjust width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  background-color: transparent;
  white-space: nowrap; /* Prevent wrapping of content */
}
.serverList_flex::-webkit-scrollbar {
  display: none;
}
.serverList_flexBox>label{
  color: white;
  padding: 0 .5rem;
  font-weight: 700;
}

.in_serveList {
  width:  fit-content;
  flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
  min-width: 20px;
  margin: auto;
  background-color: rgb(1, 13, 82, 0);
  margin: .4rem .5rem;
  margin-right: 1rem;
  padding: 2rem;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 0;
  text-align: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  color: white;
}



.inserverList_box>img {
  background-color: transparent;
  color: white;
  width: 3rem;
  height: 3rem;
  margin-bottom: .5rem;
}

.in_serveList>p {
  color: white;

  width: fit-content;
  height: fit-content;
  background-color: transparent;
  height: fit-content;
  font-size: 15px;
  text-align: left;
  padding: 0 !important;
 margin: auto !important;
}

.server-list::-webkit-scrollbar {
  display: none;
}

.createNewServer {
  height: fit-content;
  width: 100%;
  padding: .5rem;
}

.createNewServer>.createCircle-btn {
  width: 95%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #a855f7;
  color: white;
  padding: .5rem 0;
  margin: auto;

}

 

.ac {
  height: 100vh;
  border-top-left-radius: 20px;
  width: 25%;
  background-color: #2c0735;
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ac::-webkit-scrollbar {
  display: none;
}

.chat-section {
  height: 100vh;
  width: 70%;
  /* display: flex; */
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
}

.server-members {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  height: 10vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-top: 1px solid #252525;
}

.server-members::-webkit-scrollbar {
  display: none;
}

.circle-btn {
  background-color: #353535;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10% 0;
  border-radius: 50%;
  border: .2rem solid hsl(244, 100%, 72%, 0);
  cursor: pointer;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.inserverList_box>.circle-btn>img {
  background-color: #353535;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10% 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
  -o-object-fit: cover;
  object-fit: cover;
}

.circle-btn:hover {
  border-radius: 100%;
  position: relative;
}

.circle-btn:hover::after {
  content: attr(data-name);
  position: fixed;
  background-color: #131313;
  z-index: 2000;
  left: 70px;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
}


.server-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background-color: #2c0735;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.02rem;
  border-bottom: 1px solid #252525;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
}

.server-name h4 {
  font-weight: 600;
  margin: 7% 5%;
  -webkit-transform: scale(1, 1.01);
  transform: scale(1, 1.01);
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.server-name:hover {
  cursor: pointer;
  /* background-color: ; */
  opacity: .8;
}

.channel-select-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  border-radius: 5px;
  color: hsl(0, 0%, 100%,.9);
  margin-top: 3%;
  font-weight: 600;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  text-align: left;
}

.channel-select-btn:hover {
  background-color: #3f0e40;
  color: white;
}

.channel-active {
  background-color: #3f0e40;
    color: white;
}

.channel-select-btn h3 {
  color: grey;
  margin: 2% 5%;
  font-weight: 500;
  -webkit-transform: scale(1.1, 1);
  transform: scale(1.1, 1);
}

.channel-select-btn .icon {
  color: grey;
  margin: 4% 7%;
  font-weight: 500;
}

.chat-section>.chat-header {
  display: flex;
  border-bottom: 1px solid hsl(0, 0%, 50%, .2);
  flex-direction: column;
  color: #c9c9c9;
  justify-content: flex-start;
  background-color: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.01rem;
  border-top: 1px solid #252525;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
 background-color: transparent;
  padding: 1.5rem 0rem;


}
.chat-section>.chat-header >h3{
  text-align: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 95%;
  font-size: 18px;

}
.chat-section>.chat-header >p{
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 95%;

}
.chat-header>span{
  font-size: 15px;
}
.server-members>.chat-header {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c9c9c9;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.01rem;

  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
 margin: auto;
  padding: .6rem 0;
  height: 10%;

}

.chat-header p{
  font-size: 15px;
  font-weight: 400;
  margin: 0 1%;
  width: fit-content;
text-align: left;
padding: 0 1rem;
}
.chat-header>.passLinkForUser{
  width: 10%;
}
.chat-header h2 {
  font-weight: 600;
  margin: 0% 0;
  margin-left: 2%;
}

.chat-header h3 {
  margin: 5% 1%;
}

.chat-display {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-behavior: smooth;
  height: 75%;
}

.chat-display::-webkit-scrollbar {
  display: none;
}

.chat-input {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  margin-bottom: .5%;
  height: 10%;
}

.file-name-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  height: 50px;
  background-color: #2c2f33;
  border-radius: 5px;
  color: #adadad;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-name-display button {
  font-weight: lighter;
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #adadad;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.chat-input-btns {
  background-color: #7b71ff21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 44px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
}

.chat-input-btns form input[type="text"] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  height: 100%;
  font-size: 1.01rem;
  margin: 0 1%;
}

.chat-input form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gif-icon {
  background-color: #b3b3b3;
  color: #2c2f33;
  font-size: 0.9rem;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
}

.gif-icon h5 {
  margin: 5px;
  font-weight: 700;
}

.imoji {
  margin: 1%;
  margin-left: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: cubic-bezier(0.06, 0.85, 0.63, 1.18);
  transition-timing-function: cubic-bezier(0.06, 0.85, 0.63, 1.18);
}

.imoji:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.chat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1%;
  padding: .5rem 0;
  cursor: pointer;
}
.modal-content{
  width: 100%;
  background-color: #220629;
}
.modal-content-topbar {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
}
.modal-content-topbar>.close{
  justify-content: center;
  text-align: center;
  width: 20%;
}
.modal-content-topbar>h2{
  width: 80%;
}
.modal-content>form{
  height: 80%;
  width: 100%;
  background-color: transparent;
}
.chat .profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 2%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.chat .spacer {
  width: 40px;
  margin-left: 3%;
  margin-right: 2%;
}

.chat .msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  width: 100%;
}
.msg .msg_in{
  display: flex;
  flex-direction: row;
}
.msg h4 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 1%;
  text-align: left;
  width: 80%;
}
.msg_in>h4>span{
padding-left: .4rem;
}
.msg .dateofchat_cont{
width: 100%;
text-align: right;
padding: .5rem .2rem;
opacity: .8;
display: flex;
flex-direction: row;
}
.dateofchat_cont>.docCont_flex{
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.docCont_flex>.docCont_like{
  color: #736973;
  font-size: 18px;
  padding: 0 .2rem;
  cursor: pointer;
  gap: .4rem;
  display: flex;
  flex-direction: row;
}

.dateofchat_cont>span{
  width: 20%;

}

.msg span {
  font-size: 0.8rem;
  color: grey;
  padding-right: .4rem;
}

.msg h5 {
  color: #d1cfcf;
  margin: 0;
  font-weight: 400;
  font-size: 1.001rem;
  text-align: left;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.file-chat-preview {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2c2f33;
  margin-top: 5px;
  border-radius: 5px;
}

.file-chat-preview img {
  border-radius: 5px;
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
}

.file-attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #2c2f33;
  padding: 5%;
  width: 250px;
  border-radius: 5px;
  margin-top: 3px;
}

.file-attachment .filedata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 3%;
}

.file-attachment .filedata a {
  text-decoration: none;
  color: cyan;
  text-align: left;
  margin-bottom: 2px;
}

.file-attachment .filedata h6 {
  padding: 0;
  margin: 0;
}

.member img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 4%;
  -o-object-fit: cover;
  object-fit: cover;
}

.member h4 {
  color: #969696;
  font-weight: 500;
}

.create-channel:hover {
  background-color: #353b3f;
}

.active-server {
  border-radius: 100px;
}

/* 
.active-server img {
  border-radius: 20%;
} */

.square-btn {
border: .2rem solid hsl(244, 100%, 72%, .3);
}

.server-channel-display {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.server-channel-display::-webkit-scrollbar {
  display: none;
}

.personal-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  gap: 1rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personal-details .disconnect-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

.personal-details .disconnect-button h4 {
  text-align: left;
  color: white;
  overflow: hidden;
  font-weight: 400;
  margin: 15px;
}

.personal-details .disconnect-button button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.personal-details .disconnect-button button:hover {
  background-color: black;
}

.personal-details .details {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.personal-details img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 1% 4%;
  -o-object-fit: cover;
  object-fit: cover;
}

.personal-details .personal-details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personal-details .personal-details-text h4 {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
}

.personal-details .personal-details-text h5 {
  margin: 0;
  color: #969696;
  font-weight: 600;
  text-align: left;
}

.server-members>.chat-member {
  -webkit-box-flex: 0.9;
  -ms-flex: 0.9;
  flex: 0.9;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: transparent;
}

.chat-member::-webkit-scrollbar {
  display: none;
}

.hide-modal {
  display: none;
  height: 0;
  width: 0;
}

.modal {
  width: 50rem;
  height: 29rem;
  position: fixed;
  background-color: #23272a;
  z-index: 12000;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0;
}

.modal form .section1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}
form > .form_sec1{
  background-color: transparent ;
  width: 80%;
  height: 20%;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  color: white
}
.form_sec1>input{
  width: 80%;
  color: black;
}
form > .form_sec2{
  background-color: transparent;
  width: 80%;
  height: 20%;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  color: white

}
form > .form_sec3{
  background-color: transparent;
  width: 80%;
  height: 20%;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  color: white

}
.form_sec3>button{
  margin: auto;
  columns: ;
}
.informsec2_{
  display: flex;
    gap: 1rem;
    flex-direction: row;
}
.modal form .section1 .profile {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
}

.modal form .section1 .profile:hover>.ab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: brightness(0.5);
  backdrop-filter: brightness(0.5);
}

.modal form .section1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: border-radius 200ms ease-in-out;
  transition: border-radius 200ms ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal form .section1 .file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.modal form .section1 label {
  color: #7b71ff;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal form .section1 .ab {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal form .btn-group {
  margin-bottom: 30px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal form .btn-group button,
.modal form .btn-group a {
  margin: 5px;
}

.modal form .btn-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.veide {
  resize: both;
  position: absolute;
  height: 20%;
  left: 70%;
}

.voice-chat-peers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 75%;
  margin-top: 3%;
  color: grey;
  border-radius: 5px;
  margin-right: 10px;
}

.voice-chat-peers img {
  width: 25px;
  border-radius: 50%;
  color: grey;
  margin: 2% 7%;
}

.voice-chat-peers h5 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.voice-chat-peers:hover {
  background-color: #32383b;
  color: white;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353b3f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.loading h1 {
  color: #FFFFFF;
}

.loading h3 {
  color: #969696;
}

/*# sourceMappingURL=ServerList.css.map */