.full-Body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: black;
  width: 100vw;
}

.serverlist_div {
  background-color: transparent;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
  padding: 15px 0px;
  border-radius: 100px;

}

.server-list {
  background-color: #16191e;
  display: flex;
  flex-direction: row;
  gap: 0; /* Adds some space between items */
  margin: 0 10px;
  border-radius: 30px;
  padding: 0 10px;
  align-items: center;
  width: auto; /* Expands width based on content */
  position: relative;
 
}
 

.server_invite {
  font-size: 18px;
  cursor: pointer;
}

.createcord {
  margin: 10px 20px;
  cursor: pointer;
}

.serverlistbtn {
  display: flex;
  flex-direction: row;
  overflow-x: scroll; /* Allows smooth scrolling of content */
  scroll-behavior: smooth; /* Enables smooth scrolling */
  width: 220px;
  background-color: transparent;
  border-radius: 100px;
}

.serverlistbtn::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

.serverlistbtn {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.servercreatediv {
  position: absolute;
  /* width: 100%; */
  width: 45px;
  right: 0;
  background-color: #16191e;
  border-radius: 50px;
  height: 100%;
  /* height: auto; */
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(10);
}
 
.createserverbtn {
  cursor: pointer;
  background-color: #bdcbe0;
  height: 45px;
  float: right;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  font-weight: 500;


}
.createserverbtn_nserver{
  /* background-color: red !important; */
  color: white;
}
.createserverbtn:hover {
  opacity: .8;
}

.ac {
  height: 100vh;
  width: 20vw;
  border-radius: 0 30px 30px 0;
  overflow-x: hidden;
  background-color: #1f232b;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  /* border-right: 1px solid hsl(293, 40%, 37%, .5); */
}

.ac::-webkit-scrollbar {
  display: none;
}

.mob_backic {
  padding: 1rem;
  display: none;
  transform: rotate(180deg);
}

.chat_box {
  height: 100vh;
  width: 75vw;
}
 
.mob_hide_backic {
  position: absolute;
  left: 6%; /* Align to the right */
  top: 80%; /* Vertically center if needed */
  transform: translateY(-50%); /* Adjusts for vertical centering */
  cursor: pointer; /* For better UX */
  color: white;
}

@media (max-width: 968px) {

  .sidebar_hx {
    display: none;
  }

  .ac {
    width: 100vw;
    /* Further adjust for very small screens */

    display: none;
    border-radius: 0 15px 15px 0;
    /* Even smaller border radius */
  }

  .chat-section {
    width: 100vw !important;
  }

  .chat_box {
    width: 100vw;
  }

  .mob_backic {
    display: block;
  }

  .hide-availchats {
    display: none !important;

  }

  .show-availchats {
    animation-duration: 3s;
    display: block !important;
    height: 100% !important;
    width: 40% !important;
    position: absolute !important;
    z-index: 10000;
  }
  .mob_hide_backic{
    display: block !important;
  }
}

.mob_hide_backic{
  display: none;
}

@media (max-width: 480px) {
  .sidebar_hx {
    display: none;
  }

  .ac {
    width: 100vw;
    /* Further adjust for very small screens */

    display: none;
    border-radius: 0 15px 15px 0;
    /* Even smaller border radius */
  }

  .chat-section {
    width: 100vw !important;
  }

  .emojiscreenmd {
    position: absolute;
    left: 8vw !important;
  }

  .show-availchats {
    display: block !important;
    height: 100% !important;
    width: 60% !important;
    position: absolute !important;
    z-index: 10000;
  }
}

.chat-section {
  width: 75vw;
  height: 100vh;
  background-color: black;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.server-members {
  background-color: transparent;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 10px;
  margin-right: 10px;

}

.server-members::-webkit-scrollbar {
  display: none;
}

.server_circle {
  text-align: center;
  align-items: center;
  padding: 10px 5px;
}

.circle-btn {
  background-color: #353535;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* margin: 10% 0; */
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.circle-btn img {
  background-color: #353535;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10% 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
  -o-object-fit: cover;
  object-fit: cover;
}

.circle-btn:hover {
  border-radius: 35%;
  position: relative;
}

.circle-btn:hover::after {
  content: attr(data-name);
  position: fixed;
  background-color: #131313;
  z-index: 2000;
  left: 70px;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
}

.circle-btn img:hover {
  border-radius: 35%;
}

.server-name {
  display: flex;
  color: white;
  background-color: transparent;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.02rem;
  border-bottom: 0px solid #252525;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 5vh;

}

.server-name h4 {
  font-weight: 600;
  margin: 7% 5%;
  -webkit-transform: scale(1, 1.01);
  transform: scale(1, 1.01);
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

 

.channel-select-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  color: rgb(241, 241, 241);
  margin-top: 3%;
  font-weight: 600;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  text-align: left;
  background-color: #131313;
}

.channel-select-btn:hover {
  background-color: #c9dfff;
  color: black;
}

.channel-active {
  background-color: #c9dfff;
  color: rgb(0, 0, 0);
}



.channel-select-btn .icon {
  color: grey;
  margin: 4% 7%;
  font-weight: 500;
  font-size: 15px;
}

.channel-select-btn p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  color: rgb(255, 255, 255);

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;

  z-index: 1000;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.chat-header-cs {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding: 20px 20px;
  color: white;
  height: 10%;
  background-attachment: red;
  display: flex;
  flex-direction: row;
}

.chead_side {
  /* background-color: red; */
  width: 80%;
}

.chead_btns {
  /* background-color: rgb(128, 103, 103); */
  text-align: right;
  width: 20%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: right;
  justify-content: right;
  font-size: 20px;
}

.chead_btns .chead_ic {
  font-size: 20px;
  cursor: pointer;
}

.chead_side span,
.chead_side p {
  margin: 0;
}

.chead_side span {
  font-size: 15px;
  height: 10%;
  font-weight: 700;
  width: fit-content;
}

.chead_side p {
  font-size: 15px;
  font-weight: 400;
  height: 10%;
  width: fit-content;
}

.chat-header span {
  font-weight: 400;
  margin: 0 1%;
  font-size: 15px;
  width: 80%;
  text-align: left;

}

.chat-header p {
  color: #c9dfff;
}

.chat-header h2 {
  font-size: 15px;
}

.chat-display {
  overflow-y: scroll;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-behavior: smooth;
  height: 70%;
}

.chat-display-in {
  /* background-color: red; */
}

.chat-display-in:hover {}

.chat-display::-webkit-scrollbar {
  display: none;
}

.chat_dayhead {
  background-color: transparent;
  /* padding: 10px 0; */
  margin-bottom: 5px;
}

.chat-input {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2%;
  height: 20%;
}

.chat-notes {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1%;
  height: 20%;
}

.chat-notices {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1%;
  height: 20%;
}

.file-name-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  color: #adadad;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-name-display button {
  font-weight: lighter;
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #adadad;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.chat-input-btns {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 54px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #1f232b;
  margin-top: 0px;
  padding-top: 2px;
}


.chat-notes-btns {
  background-color: hsl(220, 16%, 15%, .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 54px;
  border-radius: 20px;
  border: 2px solid #1f232b;
  margin-top: 0px;
  padding-top: 2px;
  justify-content: center;

}

.chat-notes-btns p {
  width: 90%;
  color: white;
  text-align: left;
  padding: 0 20px;

}

.chat-notes-btns button {
  text-align: center;
  margin: auto;
  float: right;
  padding: 10px 15px;
  height: fit-content;
  width: fit-content;
  color: #c9dfff;
  font-weight: 500;
  font-size: 15px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1f232b;
}

.chat-notes-btns button:hover {
  background-color: #c9dfff;
  color: black;
}

.chat-input-btns form .icon {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.chat-input-btns form .icon:hover {
  background-color: #16191e;
}

.chat-input-btns form input[type="text"] {
  border: none;
  outline: none;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
  margin: 0 1%;
  padding: 10px 0px;
}

.chat-input form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.emojibtn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 5px;
}

.sendmsgbtn {
  color: #c9dfff;
  /* background-color: #c9dfff; */
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 5px;
}

.sendmsgbtn:hover {
  background-color: #c9dfff;
  color: black;
}

.gif-icon {
  background-color: #b3b3b3;
  color: #2c2f33;
  font-size: 0.9rem;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
}

.gif-icon h5 {
  margin: 5px;
  font-weight: 700;
}

.imoji {
  margin: 1%;
  margin-left: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: cubic-bezier(0.06, 0.85, 0.63, 1.18);
  transition-timing-function: cubic-bezier(0.06, 0.85, 0.63, 1.18);
}

.imoji:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.chat {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px 0px;

}

.chat:hover {
  background-color: hsl(220, 16%, 15%, .5);
}



.chat .profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 2%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.chat .spacer {
  width: 40px;
  margin-left: 3%;
  margin-right: 2%;
}

.chat .msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}

.msg .timesp {
  padding: 0px 10px;
}

.msg h4 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 1%;
  text-align: left;
}

.msg span {
  font-size: 0.8rem;
  color: grey;
}

.msg h5 {
  color: #d1cfcf;
  margin: 0;
  font-weight: 400;
  font-size: 1.001rem;
  text-align: left;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.file-chat-preview {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2c2f33;
  margin-top: 5px;
  border-radius: 5px;
}

.file-chat-preview img {
  border-radius: 5px;
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
}

.file-attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #2c2f33;
  padding: 5%;
  width: 250px;
  border-radius: 5px;
  margin-top: 3px;
}

.file-attachment .filedata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 3%;
}

.file-attachment .filedata a {
  text-decoration: none;
  color: cyan;
  text-align: left;
  margin-bottom: 2px;
}

.file-attachment .filedata h6 {
  padding: 0;
  margin: 0;
}

.member img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 4%;
  -o-object-fit: cover;
  object-fit: cover;
}

.member h4 {
  color: #969696;
  font-weight: 500;
}


.active-server {
  border-radius: 35%;
}

.active-server img {
  border-radius: 35%;
}


.server-channel-display {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: transparent;
  height: 60vh;

}

.server-channel-display::-webkit-scrollbar {
  display: none;
}

.personal-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.08;
  -ms-flex: 0.08;
  flex: 0.08;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #272a2e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personal-details .disconnect-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.personal-details .disconnect-button h4 {
  text-align: left;
  color: white;
  overflow: hidden;
  font-weight: 400;
  margin: 15px;
}

.personal-details .disconnect-button button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.personal-details .disconnect-button button:hover {
  background-color: black;
}

.personal-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.personal-details img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 1% 4%;
  -o-object-fit: cover;
  object-fit: cover;
}

.personal-details .personal-details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personal-details .personal-details-text h4 {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 0.9rem;
}

.personal-details .personal-details-text h5 {
  margin: 0;
  color: #969696;
  font-weight: 600;
  text-align: left;
}

.chat-member {
  -webkit-box-flex: 0.9;
  -ms-flex: 0.9;
  flex: 0.9;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: transparent;
}

.chat-member::-webkit-scrollbar {
  display: none;
}

.hide-modal {
  display: none;
  height: 0;
  width: 0;
}

.modal {
  width: 50rem;
  height: 29rem;
  position: fixed;
  background-color: #23272a;
  z-index: 12000;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.channel-modal-vh {
  position: fixed;
  background-color: hsl(0, 0%, 0%, .8);
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  opacity: 1 !important;

}

.modalch-content {
  width: 700px;
  height: fit-content;
}

.modalch-content .channel-name input {
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
  background-color: hsl(218, 15%, 10%, .5);
  border: 1px solid #c9dfff;
}

.modalch-content .channel-name label {
  color: hsl(0, 0%, 100%, .8);
  font-size: 15px;
  font-weight: 400;
}

.modalch-content .channel-typerd .channel-typerd-rads {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modalch-content .channel-typerd span {
  color: hsl(0, 0%, 100%, .8);
  font-size: 15px;
  font-weight: 400;
}

.modalch-content .channel-typerd label {
  font-weight: 400;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.modalch-content button {
  cursor: pointer;
  background-color: #c9dfff;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
}

.modalch-content .close {
  color: white;
  position: absolute;
  top: 20%;
  right: 50%;
  background-color: hsl(218, 15%, 10%, .8);
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  width: fit-content;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal form .section1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal form .section1 .profile {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
}

.modal form .section1 .profile:hover>.ab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: brightness(0.5);
  backdrop-filter: brightness(0.5);
}

.modal form .section1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: border-radius 200ms ease-in-out;
  transition: border-radius 200ms ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal form .section1 .file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.modal form .section1 label {
  color: #7b71ff;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal form .section1 .ab {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal form .btn-group {
  margin-bottom: 30px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal form .btn-group button,
.modal form .btn-group a {
  margin: 5px;
}

.modal form .btn-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.veide {
  resize: both;
  position: absolute;
  height: 20%;
  left: 70%;
}

.voice-chat-peers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 75%;
  margin-top: 3%;
  color: grey;
  border-radius: 5px;
  margin-right: 10px;
}

.voice-chat-peers img {
  width: 25px;
  border-radius: 50%;
  color: grey;
  margin: 2% 7%;
}

.voice-chat-peers h5 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.voice-chat-peers:hover {
  background-color: #32383b;
  color: white;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353b3f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.loading h1 {
  color: #FFFFFF;
}

.loading h3 {
  color: #969696;
}

/*# sourceMappingURL=ServerList.css.map */
.chatdisplay_div {
  background-color: red;
  padding: 0 1px;
  display: flex;
  flex-direction: column;
}

.server_members {
  width: 100%;
  margin-bottom: 0px;
  margin-top: auto;
  z-index: 1;

  /* Flexbox properties */
  display: flex;
  justify-content: center;
  /* Center elements horizontally */
  align-items: flex-end;
  /* Align elements at the bottom */
}

.day-separator {
  background-color: hsl(216, 100%, 89%, 1);
  padding: 4px 12px;
  color: #131313;
  width: fit-content;
  margin: auto;
  border-radius: 40px;
  font-size: 15px;
}